
### Sensitive Files (Including envionment files)
**/*.env
**/*.env.*
**/.env
**/.env.*

### Project Files
**/*.idea

### Local files
**/.DS_Store

### Dependencies
**/node_modules/

### Build Outputs
**/dist/