---
import Global from "./global.astro";
import Navbar from "../components/global_components/Navbar.astro";
---


<div class={`
flex flex-col lg:flex-row justify-start
`} >
    <Navbar transition:persist />
    <main class="w-full lg:border lg:rounded-xl border-px border-shadow-200 p-3 lg:p-8 m-6 ml-0 overflow-clip">
        <slot />
    </main>
</div>