
---
import Global from "../../layouts/global.astro";
import AuthGuard from "../../components/non_visual/AuthGuard.astro";
import Dashboard from "../../layouts/dashboard.astro";
---


<Global>
    <AuthGuard />
    <Dashboard>
        <p class="h-[200dvh]">Dashboard!</p>
    </Dashboard>
</Global>